<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="FooterFragment">
		<div class="inner">
			<section style="margin-left: 5%;">
			<h2>Follow</h2>
			<ul class="icons">
				<li><a href="https://github.com/Ryujunyong" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
			</ul>
		</section>
		<ul class="copyright" style="margin-left: 5%;">
				<li>&copy; yuck4004@naver.com</li>
			</ul>
		</div>
	</th:block>
		<!-- Scripts -->
	<script src="/css/js/main.js"></script>
</html>