<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:fragment="NaviFragment">
<!-- Navbar start -->
	<div class="container-fluid fixed-top">
	    <div class="container px-0">
	        <nav class="navbar navbar-light bg-white navbar-expand-xl">
	        	<a href="javascript:void(0);" id="menuGo"><i class="bi bi-justify" title="바로가기"></i></a>
	            <a href="javascript:void(0);" class="navbar-brand"><h1 class="text-primary display-6">호잇</h1></a>
	        </nav>
	    </div>
	</div>
	<script>
		$(function() {
			var popoverContent = '<div class="list-group list-group-flush">' + 
								 '<a href="" class="list-group-item list-group-item-action p-2">Home</a>' + 
								 '<a href="/hoit/accountBook/list.do" class="list-group-item list-group-item-action p-2">가계부</a>' + 
								 '<a href="/hoit/accountBook/stats.do" class="list-group-item list-group-item-action p-2">통계</a>' + 
								 '<a href="/hoit/category/list.do" class="list-group-item list-group-item-action p-2">카테고리 관리</a>' + 
								 '<a href="/hoit/keyword/list.do" class="list-group-item list-group-item-action p-2">키워드 관리</a>' + 
								 '</div>';
			
			var popover = new bootstrap.Popover(document.getElementById('menuGo'), {
				content: popoverContent,
				html: true,
				placement: 'bottom',
				trigger: 'focus'
			});
			
			$(window).scroll(function() {
				var $fixedTop = $('.fixed-top');
				var $navbar = $('.navbar');
				if ($(this).scrollTop() > 50) {
					$fixedTop.css({'background': 'transparent', 'border-bottom': 'none', 'box-shadow': 'none'});
					$navbar.removeClass('bg-white').css('background', 'transparent');
				} else {
					$fixedTop.css({'background': '', 'border-bottom': '', 'box-shadow': ''});
					$navbar.addClass('bg-white').css('background', '');
				}
			});
		});
		
	</script>
</body>
</html>