<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:fragment="NaviFragment">
<!-- Navbar start -->
	<div class="container-fluid fixed-top">
	    <div class="container px-0">
	        <nav class="navbar navbar-light bg-white navbar-expand-xl">
	            <a href="/hoit/main.do" class="navbar-brand"><h1 class="text-primary display-6">호잇</h1></a>
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link active">Home</a>
                    <!-- <a href="/hoit/community/list.do" class="nav-link">커뮤니티</a> -->
                    <a href="/hoit/accountBook/list.do" class="nav-link">가계부</a>
                </div>
	        </nav>
	    </div>
	</div>
</body>
</html>