<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}"
      layout:fragment="Content">
<script type="text/javascript" defer>

	$(function() {
		$('#AMOUNT').focus();
		if('[[${cb.CURRENT_STATUS}]]' != 'N') {
			$('#SAVE_ASSET').prop("disabled", true);
			$('#SAVE_BUTTON').prop("disabled", true);
		} else {
			$('#SAVE_ASSET').prop("disabled", false);
			$('#SAVE_BUTTON').prop("disabled", false);
		}
        
        const $lastRow = $('.account-list tr').last();
        if ($lastRow.length > 0) {
        	lastAccountDate = $lastRow.data('account-date');
        	lastAccountId = $lastRow.data('account-id');
        }
        
        const target = document.getElementById('scroll-anchor');
        if(target) observer.observe(target);
	});
	function fn_write() {
		let description = $("input[name=DESCRIPTION]").val();
		const sendData = {
				AMOUNT: cleanNumber,
				ACCOUNT_TYPE: $('#select-account').val(),
				DESCRIPTION: description,
				CATEGORY_ID: $('#CATEGORY_NM').val()
		}
		axios.post('/hoit/accountBook/write_submit.do', sendData)
		.then(res => {
			location.reload();
		})
		.catch(e => {
			alert('에러'+JSON.stringify(e));
		});
		
	}
	
	function fn_saveAsset() {
	    const sendData = {
	    	CURRENT_BALANCE: cleanNum,
	    };
		axios.post('/hoit/accountBook/chargeCash_submit.do', sendData)
		.then(res => {
			location.reload();
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
	/*
	function fn_editTotalMoney() {
		fetch('/hoit/accountBook/editTotalMoney_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify({
				ACCOUNT_ID: 'TEST',
				TOTAL_MONEY: parseInt(data)
			}),
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
	
	function fn_chargeCashBack() {
		fetch('/hoit/accountBook/chargeCashBack_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify({
				CASHBACK_AMOUNT: $('#CASHBACK_AMOUNT').val()
			}),
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
			location.reload();
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
	*/
    function fn_deleteAcBook(val) {
    	
    	let sendData = {
    			"ACCOUNT_ID": $(val).attr('data-account-id'),
            	"ASSET_ID": $(val).attr('data-asset-id'),
            	"AMOUNT": $(val).attr('data-amount')
    	}
        axios({
            method: "post",
            url: "/hoit/accountBook/deleteAccountBook_submit.do",
            data: sendData
          })
          .then(res => {
            console.log("res", res);
            location.reload();
          })
          .catch(err => {
            console.log("err", err);
          });
    }
    

</script>
<body>
    <h1 class="text-center" style="margin-top: 50px;">가계부</h1>
    <div class="container">
		<div class="row g-2 mt-4 mb-3 align-items-center">
			<div class="col-12 col-md-3 text-center text-md-start">
				<span id="date"></span>
			</div>
			<div class="col-md-5 d-none d-md-block"></div>
			<div class="col-12 col-md-4">
				<div class="input-group">
					<input class="form-control" id="SAVE_ASSET" name="SAVE_ASSET" placeholder="충전금액">
					<button class="btn btn-outline-info" id="SAVE_BUTTON" onclick="fn_saveAsset();">충전</button>
				</div>
			</div>
		</div>

		<div class="row g-2 mb-4 align-items-center">
			<div class="col-12 col-md-3">
				<div class="input-group">
					<select class="form-select" id="select-account" aria-label="Default select example" style="max-width: 90px;">
	  					<option value="I">충전</option>
	  					<option value="O" selected>지출</option>
					</select>
					<select class="form-select" id="CATEGORY_NM" aria-label="Default select example" style="max-width: 90px;">
	  					<th:block th:each="cg : ${cg}">
	  						<option th:value="${cg.CATEGORY_ID}">[[${cg.CATEGORY_NM}]]</option>
	  					</th:block>
					</select>
					<input class="form-control" id="AMOUNT" name="AMOUNT" placeholder="사용금액">
				</div>
			</div>
			<div class="col-12 col-md-5">
				<div class="input-group">
					<input class="form-control" id="DESCRIPTION" name="DESCRIPTION" placeholder="거래상세내용">
					<button class="btn btn-outline-info" onclick="fn_write();">등록</button>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="input-group">
					<span class="input-group-text">남은금액</span>
					<input class="form-control" id="CURRENT_BALANCE" name="CURRENT_BALANCE" style="text-align: right;" disabled placeholder="남은금액">
				</div>
			</div>
		</div>
		<div>
			<table class="table table-bordered table-hover table-sm" style="width: 100%; text-align: center;">
				<thead class="table-light">
					<tr>
						<th style="white-space: nowrap;">카테고리</th>
						<th style="white-space: nowrap;">사용 금액</th>
						<th>거래 상세 내용</th>
						<th style="white-space: nowrap;">거래 일자</th>
						<th class="d-none d-md-table-cell">작성 일자</th>
						<th style="white-space: nowrap;">관리</th>
					</tr>
				</thead>
				<tbody class="account-list">
					<th:block th:if="${!#lists.isEmpty(list)}">
						<tr th:each="list : ${list}" th:data-account-id="${list.ACCOUNT_ID}" th:data-account-date="${list.ACCOUNT_DATE}">
							<td style="vertical-align: middle;" th:text="${list.CATEGORY_NM}"></td>
							<td style="vertical-align: middle;" th:text="|${#numbers.formatInteger(list.AMOUNT, 3, 'COMMA')}원|"></td>
							<td style="word-break: break-all; vertical-align: middle;" th:text="${list.DESCRIPTION}"></td>
							<td style="vertical-align: middle; white-space: nowrap;" th:text="${list.ACCOUNT_DATE}"></td>
							<td class="d-none d-md-table-cell" th:text="${list.CREATE_DT}"></td>
							<td style="vertical-align: middle;">
								<th:block th:if="${list.ACCOUNT_TYPE != 'S'}">
									<button type="button" class="btn btn-outline-info btn-sm" th:data-account-id="${list.ACCOUNT_ID}" th:data-asset-id="${list.ASSET_ID}" th:data-amount="${list.AMOUNT}" onclick="fn_deleteAcBook(this)">삭제</button>
								</th:block>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<div id="scroll-anchor" style="height: 20px; text-align: center;">
				<div id="scroll-trigger" class="spinner-border text-primary" role="status" style="display: none;">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	
	const formatter = new Intl.NumberFormat('ko-KR');
	let current_balance = '[[${cb.CURRENT_BALANCE}]]';
	$('#CURRENT_BALANCE').val(formatter.format(current_balance)+'원');
	let cleanNum = 0; // 정수형 입력 값
	$('#SAVE_ASSET').on('input', function() {
		let $this = $(this);
		
		cleanNum = $this.val().replace(/[^0-9]/g, '');
		let formatterdNumber = cleanNum.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		$this.val(formatterdNumber);
	});
	const ets = parseInt($('#CURRENT_BALANCE').val().replaceAll(',', ''), 10) || 0;
	let final_result = 0;
	let numbericVal = 0;
	let cleanNumber = 0;
	
	function calcTotal() {
		cleanNumber = $('#AMOUNT').val().replace(/[^0-9]/g, '');
		if (cleanNumber === '') {
			$('#CURRENT_BALANCE').val(formatter.format(current_balance)+'원');
			return;
		}
		numbericVal = parseInt(cleanNumber, 10);
		if ($('#select-account').val() == 'I') {
			final_result = ets + numbericVal;
		} else {
			final_result = ets - numbericVal;
		}
		$('#CURRENT_BALANCE').val(final_result.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+'원');
	}
	
	$('#AMOUNT').on('input', function() {
		let $this = $(this);
		cleanNumber = $this.val().replace(/[^0-9]/g, '');
		if (cleanNumber === '') {
			$this.val('');
		} else {
			$this.val(formatter.format(cleanNumber));
		}
		calcTotal();
	});
	
	$('#select-account').on('change', function() {
		calcTotal();
	});
	/*
	function fn_page(pageNo) {
	    var submitObj = new Object();
	    submitObj.pageIndex = pageNo;
	    axios.post('/hoit/accountBook/pagingAjax.do', submitObj)
	    .then(res => {
	        var data = res.data;
	        var result = new Array;
	        result = data.list;
	        var pageVO = JSON.parse(data.pageVO);
	        var endPage = pageVO.endPage;
	        var startData = pageVO.startData;
	        var startButtonData = pageVO.startData - 1;
	        var endData = pageVO.endData;
	        var endButtonData = pageVO.pageIndex + 1;
	        var pageIndex = pageVO.pageIndex;
	        var resultCnt = data.resultCnt;
	        var totalPageCnt = data.totalPageCnt;
	        var recordCountPerPage = pageVO.recordCountPerPage;
	        var content = '';
	        var content2 = '';
	        console.log(`%c ********** 정상응답@@@@ ${JSON.stringify(pageVO, null, 2)} **********`, `background:seagreen;color:white`);
	        $.each(result, function(index, item) {
	            content += `<tr>`;
	            content += `<td style='vertical-align: middle;' th:text='${item.CATEGORY_NM}'></td>`
	            content += `<td style="vertical-align: middle;">${formatAmount(item.AMOUNT)}원</td>`;
	            content += `<td style='word-break: break-all; vertical-align: middle;' th:text='${item.DESCRIPTION}'></td>`
	            content += `<td style='vertical-align: middle; white-space: nowrap;' th:text='${item.ACCOUNT_DATE}'></td>`
	            content += `<td class='d-none d-md-table-cell' th:text='${item.CREATE_DT}'></td>`
	            content += `<td><button type='button' id='updateBtn' onclick='fn_updateUser(this);'>수정</button></td>`;
	            content += `<td><button type='button' id='deleteBtn' onclick='fn_delete("${item.sabun}");'>삭제</button></td>`;
	            content += `</tr>`;
	        });
	        $(".account-list").html(content);
	        
	        content2 = `<div class="d-flex justify-content-center position-relative w-100">`;
	        content2 += `<nav aria-label="Page navigation"><ul class="pagination mb-0">`;
	        
	        if(pageVO.prev) {
	            content2 += `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="fn_page(1); return false;"><i class="fas fa-angle-double-left"></i></a></li>`;
	            content2 += `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="fn_page(${startData - 1}); return false;"><i class="fas fa-angle-left"></i></a></li>`;
	        }
	        for(var num=startData; num<=endData; num++) {
	            if(num == pageIndex) {
	                content2 += `<li class="page-item active"><span class="page-link">${num}</span></li>`;
	            } else {
	                content2 += `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="fn_page(${num}); return false;">${num}</a></li>`;
	            }
	        }
	        if(pageVO.next) {
	            content2 += `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="fn_page(${endButtonData}); return false;"><i class="fas fa-angle-right"></i></a></li>`;
	            content2 += `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="fn_page(${pageVO.endPage}); return false;"><i class="fas fa-angle-double-right"></i></a></li>`;
	        }
	        content2 += `</ul></nav>`;
	        content2 += `<div class="position-absolute end-0 top-50 translate-middle-y"><button class='btn_excel' type="button" onclick="location.href='/excelDown.do'"></button></div>`;
	        content2 += `</div>`;
	        $(".account-list-paging").html(content2);
	    })
	    .catch(e => {
	    })
	}
	*/
	let lastAccountDate = null;
	let lastAccountId = null;
	let isLoading = false;
	let hasNext = true;

	async function fetchPosts() {
	    if (isLoading || !hasNext) return;

	    isLoading = true;
	    try {

			const sendData = {
	            size: 5,
	            lastAccountDate: lastAccountDate,
	            lastAccountId: lastAccountId
	        };

	        const response = await axios.post('/hoit/accountBook/scrollList.do', sendData);
	        const result = response.data; 

	        renderPosts(result.data);
			if (result.nextCursorId) {
	            lastAccountDate = result.nextCursorId.lastAccountDate;
	            lastAccountId = result.nextCursorId.lastAccountId;
	        }
	        hasNext = result.hasNext;

	        if (!hasNext) {
	            $('#scroll-trigger').hide();
	        }

	    } catch (error) {
	        console.error('Error fetching posts:', error);
	    } finally {
	        isLoading = false;
	    }
	}

	function renderPosts(list) {
		let content = '';
	    list.forEach(item => {
	    	console.log(item.ACCOUNT_TYPE)
        	content += `<tr>`;
            content += `<td style='vertical-align: middle;'>${item.CATEGORY_NM}</td>`;
            content += `<td style="vertical-align: middle;">${formatter.format(item.AMOUNT)}원</td>`;
            content += `<td style='word-break: break-all; vertical-align: middle;'>${item.DESCRIPTION}</td>`;
            content += `<td style='vertical-align: middle; white-space: nowrap;'>${item.ACCOUNT_DATE}</td>`;
            content += `<td class='d-none d-md-table-cell'>${item.CREATE_DT}</td>`;
           	if(item.ACCOUNT_TYPE != 'S') {
   	            content += `<td style='vertical-align: middle;'><button type="button" class="btn btn-outline-info btn-sm" data-account-id="${item.ACCOUNT_ID}" data-asset-id="${item.ASSET_ID}" data-amount="${item.AMOUNT}" onclick="fn_deleteAcBook(this)">삭제</button></td>`;
   	        }
	        content += `</tr>`;
	    });
	    $(".account-list").append(content);
	}

	const observerOptions = {
	    root: null,
	    threshold: 0.1
	};

	const observer = new IntersectionObserver((entries) => {
	    entries.forEach(entry => {
	        if (entry.isIntersecting && hasNext) {
	            fetchPosts();
	        }
	    });
	}, observerOptions);
	</script>
</body>
</html>