<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}"
      layout:fragment="Content">
<script type="text/javascript" defer>
	$(function() {
		$('#USE_AMOUNT').focus();
	});
	function fn_write() {
		let use_amount = $("input[name=USE_AMOUNT]").val();
		let description = $("input[name=DESCRIPTION]").val();
		const sendData = {
				USE_AMOUNT: cleanNumber,
				DESCRIPTION: description
		}
		fetch('/hoit/accountBook/write_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify(sendData)
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
			location.reload();
		})
		.catch(e => {
			alert('에러'+JSON.stringify(e));
		});
	}
	
	function fn_chargeCash() {
	    const sendData = {
	        CHARGE_AMOUNT: cleanNum,
	    };
		fetch('/hoit/accountBook/chargeCash_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify(sendData),
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
			return res.json();
		})
		.then(data => {
			location.reload();
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
	function fn_editTotalMoney() {
		fetch('/hoit/accountBook/editTotalMoney_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify({
				ACCOUNT_ID: 'TEST',
				TOTAL_MONEY: parseInt(data)
			}),
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
	
	function fn_chargeCashBack() {
		fetch('/hoit/accountBook/chargeCashBack_submit.do', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body: JSON.stringify({
				CASHBACK_AMOUNT: $('#CASHBACK_AMOUNT').val()
			}),
		})
		.then(res => {
			if (!res.ok) {
				throw new Error('에러 발생!');
			}
			location.reload();
		})
		.catch(e => {
			alert('에러'+e);
		});
	}
</script>
<body>
    <h1 class="text-center" style="margin-top: 50px;">가계부</h1>
    <div class="container">
		<!-- 상단 충전 및 정보 영역 -->
		<div class="row g-2 mt-4 mb-3 align-items-center">
			<div class="col-12 col-md-2 text-center">
				<span id="date"></span>
			</div>
			<div class="col-12 col-md-3">
				<div class="input-group">
					<input class="form-control" id="CHARGE_AMOUNT" name="CHARGE_AMOUNT" placeholder="충전금액">
					<button class="btn btn-outline-info" onclick="fn_chargeCash();">충전</button>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<input class="form-control" id="TOTAL_AMOUNT2" style="text-align: right;" disabled placeholder="총 충전액">
			</div>
			<div class="col-12 col-md-4">
				<div class="input-group">
					<input class="form-control" id="CASHBACK_AMOUNT" name="CASHBACK_AMOUNT" placeholder="캐시백">
					<button class="btn btn-outline-info" onclick="fn_chargeCashBack();">충전</button>
				</div>
			</div>
		</div>

		<!-- 사용 내역 등록 영역 -->
		<div class="row g-2 mb-4 align-items-center">
			<div class="col-12 col-md-3">
				<input class="form-control" id="USE_AMOUNT" name="USE_AMOUNT" placeholder="사용금액">
			</div>
			<div class="col-12 col-md-5">
				<div class="input-group">
					<input class="form-control" id="DESCRIPTION" name="DESCRIPTION" placeholder="거래상세내용">
					<button class="btn btn-outline-info" onclick="fn_write();">등록</button>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="input-group">
					<span class="input-group-text">남은금액</span>
					<input class="form-control" id="TOTAL_AMOUNT" name="TOTAL_AMOUNT" style="text-align: right;" disabled placeholder="남은금액">
				</div>
			</div>
		</div>

		<!-- 테이블 영역 -->
		<div class="table-responsive">
			<table class="table table-bordered table-hover" style="width: 100%; min-width: 500px; text-align: center;">
				<thead class="table-light">
					<tr>
						<th>사용 금액</th>
						<th>거래 상세 내용</th>
						<th>거래 일자</th>
						<th>작성 일자</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${!#lists.isEmpty(list)}">
						<tr th:each="list : ${list}">
							<td th:text="|${#numbers.formatInteger(list.USE_AMOUNT, 3, 'COMMA')}원|"></td>
							<td th:text="${list.DESCRIPTION}"></td>
							<td th:text="${list.ACCOUNT_DATE}"></td>
							<td th:text="${list.CREATE_DT}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	<script th:inline="javascript" defer>
	const formatter = new Intl.NumberFormat('ko-KR');
	let current_balance = [[${cm.CURRENT_BALANCE}]];
	let total_charge = [[${ta.CHARGE_AMOUNT}]];
	$('#TOTAL_AMOUNT').val(formatter.format(current_balance)+'원');
	$('#TOTAL_AMOUNT2').val(formatter.format(total_charge)+'원');
	let cleanNum = 0; // 정수형 입력 값
	$('#CHARGE_AMOUNT').on('input', function() {
		let $this = $(this);
		
		cleanNum = $this.val().replace(/[^0-9]/g, '');
		let formatterdNumber = cleanNum.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		$this.val(formatterdNumber);
	});
	const ets = parseInt($('#TOTAL_AMOUNT').val().replaceAll(',', ''), 10) || 0;
	const ua = parseInt($('#USE_AMOUNT').val(), 10) || 0;
	let final_result = 0;
	let numbericVal = 0;
	let cleanNumber = 0;
	$('#USE_AMOUNT').on('input', function() {
		let $this = $(this);
		
		cleanNumber = $this.val().replace(/[^0-9]/g, '');
		if (cleanNumber === '') {
			$this.val('');
			return;
		}
		let formatterdNumber = cleanNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		
		$this.val(formatterdNumber);
		
		numbericVal = parseInt(cleanNumber, 10);
		final_result = ets - numbericVal;
		$('#TOTAL_AMOUNT').val(final_result.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+'원');
	});
	/*
		const formatter = new Intl.NumberFormat('ko-KR', {
			minimimFractionDigits: 0
		})
		let cleanNum = 0;
		$('#CHARGE_AMOUNT').on('input', function() {
			let $this = $(this);
			
			cleanNum = $this.val().replace(/[^0-9]/g, '');
			let formatterdNumber = cleanNum.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			$this.val(formatterdNumber);
		});
		const ets = parseInt($('#TOTAL_AMOUNT').val().replaceAll(',', ''), 10) || 0;
		const ua = parseInt($('#USE_AMOUNT').val(), 10) || 0;
		let final_result = 0;
		let numbericVal = 0;
		let cleanNumber = 0;
		$('#USE_AMOUNT').on('input', function() {
			let $this = $(this);
			
			cleanNumber = $this.val().replace(/[^0-9]/g, '');
			if (cleanNumber === '') {
				$this.val('');
				return;
			}
			let formatterdNumber = cleanNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			
			$this.val(formatterdNumber);
			
			numbericVal = parseInt(cleanNumber, 10);
			final_result = ets - numbericVal;
			$('#TOTAL_AMOUNT').val(final_result.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+'원');
		});
		*/
		
		</script>
</body>
</html>