/* @import url(fontawesome-all.min.css); */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");



ul li {
  border-bottom: 1px solid #aaa;
  list-style : none;
}
ul li:first-child {
  border-top: none;
}
li.custli {
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}