<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header.html :: HeaderFragment}"></head>
<body class="is-preload">
    <div id="wrapper">
        <nav id="nav" th:replace="~{fragments/navi.html :: NaviFragment}"></nav>

        <div id="main">
            <div class="container-fluid py-5">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <th:block layout:fragment="Content"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragments/footer.html :: FooterFragment}"></footer>
    </div>
</body>
</html>