<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/login_layout.html}">
<head>
    <script type="text/javascript">
        function fn_join() {
            const userId = document.getElementById('user_id').value;
            const userPw = document.getElementById('user_pw').value;
            const userName = document.getElementById('user_name').value;

            if (!userId || !userPw || !userName) {
                alert('모든 정보를 입력해주세요.');
                return;
            }

            const sendData = {
                USER_ID: userId,
                USER_PW: userPw,
                USER_NAME: userName
            };

            axios({
                method: "post",
                url: "/hoit/join_submit.do",
                data: sendData
              })
              .then(res => {
            	  alert('회원가입이 완료되었습니다.');
                  location.href = '/hoit/login.do'
              })
              .catch(err => {
            	  alert('회원가입 실패');
              });
        }
    </script>
</head>

<div layout:fragment="Content">
    <div class="bg-white">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="login p-50">
                            <h1 class="mb-2">hoit</h1>
                            <p>회원가입</p>
                            <form onsubmit="return false;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">User ID</label>
                                            <input type="text" class="form-control" id="user_id" placeholder="UserID"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <input type="password" class="form-control" id="user_pw" placeholder="Password"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text" class="form-control" id="user_name" placeholder="Name"/>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button type="button" class="btn btn-primary text-uppercase" onclick="fn_join()">회원가입</button>
                                    </div>
                                    <div class="col-12  mt-3">
                                        <p>Already have an account ?<a href="/hoit/login.do"> 로그인</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                            <img class="img-fluid" src="/css/assets/img/bg/login.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
